<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.quantcairn.daily-runtime-snapshot</string>
    <key>ProgramArguments</key>
    <array>
        <string>REPLACE_WITH_PYTHON_PATH</string>
        <string>REPLACE_WITH_PROJECT_ROOT/scripts/generate_daily_runtime_snapshot.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>REPLACE_WITH_PROJECT_ROOT</string>
    <key>StandardOutPath</key>
    <string>REPLACE_WITH_LOGS_ROOT/daily-runtime-snapshot.out.log</string>
    <key>StandardErrorPath</key>
    <string>REPLACE_WITH_LOGS_ROOT/daily-runtime-snapshot.err.log</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>23</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <false/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>QUANTCAIRN_HOME</key>
        <string>REPLACE_WITH_PROJECT_ROOT</string>
        <key>SOXS_PROJECT_DIR</key>
        <string>REPLACE_WITH_PROJECT_ROOT</string>
        <key>SOXS_RELEASE_SHA</key>
        <string>REPLACE_WITH_RELEASE_SHA</string>
        <key>SOXS_STATE_DIR</key>
        <string>REPLACE_WITH_STATE_ROOT</string>
        <key>SOXS_REPORTS_DIR</key>
        <string>REPLACE_WITH_REPORTS_ROOT</string>
        <key>SOXS_ARTIFACTS_DIR</key>
        <string>REPLACE_WITH_ARTIFACTS_ROOT</string>
        <key>SOXS_LOG_DIR</key>
        <string>REPLACE_WITH_LOGS_ROOT</string>
        <key>SOXS_LOGS_DIR</key>
        <string>REPLACE_WITH_LOGS_ROOT</string>
        <key>QUANTCAIRN_EXECUTION_MODE</key>
        <string>PAPER</string>
    </dict>
</dict>
</plist>
