<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.soxs.arbitrage.stop</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/chenwei/soxs-range-arbitrage/auto_trade.sh</string>
    <string>stop</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>4</integer>
    <key>Minute</key>
    <integer>5</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/chenwei/soxs-range-arbitrage/logs/launchd.stop.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/chenwei/soxs-range-arbitrage/logs/launchd.stop.err.log</string>
  <key>WorkingDirectory</key>
  <string>/Users/chenwei/soxs-range-arbitrage</string>
  <key>KeepAlive</key>
  <false/>
</dict>
</plist>
